<div className="main-filter-div">
                <h2 className="top-h2-text">Breakfast Places in Mumbai</h2>
                <div className="main-container">
                    <aside className="aside">
                        <h3 className="h3-filter">Filters</h3>
                        <div className="aside-content">
                            <p className="select-location">Select Location</p>
                            <div className="filter">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div className="cuisine-text">Cuisine</div>
                            <div className="checkbox-group">
                                <div className="checkbox">
                                    <input type="checkbox" id="checkbox1" />
                                    <label htmlFor="checkbox1">North Indian</label>
                                </div>
                                <div className="checkbox">
                                    <input type="checkbox" id="checkbox2" />
                                    <label htmlFor="checkbox2">South Indian</label>
                                </div>
                                <div className="checkbox">
                                    <input type="checkbox" id="checkbox3" />
                                    <label htmlFor="checkbox3">Chinese</label>
                                </div>
                                <div className="checkbox">
                                    <input type="checkbox" id="checkbox4" />
                                    <label htmlFor="checkbox4">Fast Food</label>
                                </div>
                                <div className="checkbox">
                                    <input type="checkbox" id="checkbox5" />
                                    <label htmlFor="checkbox5">Street Food</label>
                                </div>
                            </div>
                            <div className="cost-of-two">Cost of Two</div>
                            <div className="radio-group">
                                <label>
                                    <input type="radio" name="radio-btn" value="option1" />
                                    <span className="checkmark"></span>
                                    Less than `500
                                </label>
                                <label>
                                    <input type="radio" name="radio-btn" value="option2" />
                                    <span className="checkmark"></span>
                                    `500 to `1000
                                </label>
                                <label>
                                    <input type="radio" name="radio-btn" value="option3" />
                                    <span className="checkmark"></span>
                                    `1000 to `1500
                                </label>
                                <label>
                                    <input type="radio" name="radio-btn" value="option4" />
                                    <span className="checkmark"></span>
                                    `1500 to `2000
                                </label>
                                <label>
                                    <input type="radio" name="radio-btn" value="option5" />
                                    <span className="checkmark"></span>
                                    `2000+
                                </label>
                            </div>
                            <div className="cost-of-two">Sort</div>
                            <div className="radio-group">
                                <label>
                                    <input type="radio" name="radio-btn" value="option1" />
                                    <span className="checkmark"></span>
                                    Less than `500
                                </label>
                                <label>
                                    <input type="radio" name="radio-btn" value="option2" />
                                    <span className="checkmark"></span>
                                    `500 to `1000
                                </label>
                            </div>
                        </div>
                    </aside>
                    <div className="main-content">
                        <div className="meal-div">
                            <div className="meal-img">
                                <img src="./images/breakfast.png" alt="breakfast pic" />
                                <div className="details">
                                    <h3>The Big Chill Cakery</h3>
                                    <p className="det-1">FORT</p>
                                    <p className="det-2">
                                        Shop 1, Plot D, Samruddhi Complex, Chincoli...
                                    </p>
                                </div>
                            </div>
                            <div className="horizontal-line"></div>
                            <div className="cost-details">
                                <div className="cuisine">
                                    <div>CUISINE:</div>
                                    <div>Bakery</div>
                                </div>
                                <div className="cost-for-2">
                                    <div>COST FOR TWO:</div>
                                    <div>&#x20B9;700</div>
                                </div>
                            </div>
                        </div>
                        <div className="meal-div">
                            <div className="meal-img">
                                <img src="../images/breakfast.png" alt="breakfast pic" />
                                <div className="details">
                                    <h3>The Bake Shop</h3>
                                    <p className="det-1">FORT</p>
                                    <p className="det-2">
                                        Shop 1, Plot D, Samruddhi Complex, Chincoli...
                                    </p>
                                </div>
                            </div>
                            <div className="horizontal-line"></div>
                            <div className="cost-details">
                                <div className="cuisine">
                                    <div>CUISINE:</div>
                                    <div>Bakery</div>
                                </div>
                                <div className="cost-for-2">
                                    <div>COST FOR TWO:</div>
                                    <div>&#x20B9;700</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>